<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: copy"><title>Page Title</title></head>
<body>
    <nav th:replace="fragments/navbar.html :: copy">Navbar</nav>

    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Payment confirmation</h2>
                    <p th:if="${session.orderName != null}">
                        Hello <span th:text="${session.user} ? ${session.user.getName()}">Guest</span>,
                        <span th:text="${session.orderName}">your order</span> was successfully paid and
                        the products will be shipped soon. Thank you for your business!
                    </p>
                    <p th:if="${session.orderName == null}">
                        No payment made. Please use the catalog to order some products.
                    </p>
                </div>
            </div>
        </section>
    </main>

    <!-- Dark Footer -->
    <footer th:replace="fragments/footer.html :: copy">Footer</footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/assets/js/script.min.js"></script>
</body>
</html>