<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head.html :: copy"><title>Page Title</title></head>
<body>
<nav th:replace="fragments/navbar.html :: copy">Navbar</nav>

<main class="page catalog-page">
    <section class="clean-block clean-catalog dark cl">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div th:replace="fragments/sidebar.html :: copy">Sidebar</div>
                    <div class="col-md-9">
                        <div class="products">
                            <div class="row no-gutters">
                                <section class="col-12 clean-block clean-form dark">
                                    <div class="container">
                                        <div class="block-heading">
                                            <h2 class="text-info">Log In</h2>
                                            <p th:text="${session.user} == null ? 'Hello Guest, please input your log in data:' : 'Hello ' + ${session.user.getName()} + ', you are loged in. Happy shopping!'"></p>
                                            <p th:if="${session.loginError}" class="alert-danger">Wrong email or password. Try again...</p>
                                        </div>
                                        <form th:if="${session.user} == null" method="post" action="login.html">
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="form-control item" type="email" id="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input class="form-control" type="password" id="password" name="password">
                                            </div>
                                            <button class="btn btn-primary btn-block" type="submit">Log In</button>
                                        </form>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Dark Footer -->
<footer th:replace="fragments/footer.html :: copy">Footer</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/assets/js/script.min.js"></script>
</body>
</html>