<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Start: Login Modal -->
    <div th:fragment="copy" class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content">
                <div class="modal-header bg-white">
                    <h2 class="modal-title" id="registerModalLabel">Register</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <section class="clean-form">
                        <h3>User data</h3>
                        <div class="container">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input class="form-control item" type="text" id="name" required minlength="5">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control item" type="email" id="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control item" type="text" id="password" required minlength="10">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone number</label>
                                <input class="form-control item" type="text" id="phone" minlength="10">
                            </div>
                        </div>
                    </section>
                    <section class="clean-form">
                        <h3>Shipping Address</h3>
                        <div class="container">
                            <div class="form-group">
                                <label for="ShipCountry">Country</label>
                                <input class="form-control item" type="text" id="ShipCountry" required>
                            </div>
                            <div class="form-group">
                                <label for="ShipCity">City</label>
                                <input class="form-control item" type="text" id="ShipCity" required>
                            </div>
                            <div class="form-group">
                                <label for="ShipZipcode">Zip Code</label>
                                <input class="form-control item" type="text" id="ShipZipcode" required>
                            </div>
                            <div class="form-group">
                                <label for="ShipStreetAddress">Street Address</label>
                                <input class="form-control item" type="text" id="ShipStreetAddress">
                            </div>
                        </div>
                    </section>
                    <section class="clean-form">
                        <h3>Billing Address</h3>
                        <p>(if different from Shipping Address)</p>
                        <div class="container">
                            <div class="form-group">
                                <label for="BillCountry">Country</label>
                                <input class="form-control item" type="text" id="BillCountry">
                            </div>
                            <div class="form-group">
                                <label for="BillCity">City</label>
                                <input class="form-control item" type="text" id="BillCity">
                            </div>
                            <div class="form-group">
                                <label for="BillZipcode">Zip Code</label>
                                <input class="form-control item" type="text" id="BillZipcode">
                            </div>
                            <div class="form-group">
                                <label for="BillStreetAddress">Street Address</label>
                                <input class="form-control item" type="text" id="BillStreetAddress">
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End: Login Modal -->
</body>
</html>
